{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/login.css' %}" /> {% endcomment %}
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" /> {% endcomment %}
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'>
    <script src='https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js'></script>
  </head>
  <body>
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              {% comment %} <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> {% endcomment %}
              <h2 class="text-center">Login</h2>
          </div>
          <div>
            {% if messages %}
            {% for message in messages %}
            <h5 style="color: #b22222;">{{ message }}</h5>
            {% endfor %}
            {% endif %}
          </div>
          <div class="modal-body">
              <form method="POST" class="form col-md-12 center-block">
                {%  csrf_token %}
                {% for field in form  %}
            <div class="form-group">
              <label for="{{field.label_for}}" class="form-label">{{field.label}}:</label>
              {{ field }}
              <span>{{field.errors}}</span>
              
            </div>
            {% endfor %}
                
                <div class="form-group">
                  <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                  <span class="pull-right"><a href="{% url 'register' %}">Register</a></span><span><a href="#">Forgot Password</a></span>
                </div>
              </form>
          </div>
          <div class="modal-footer">
              <div class="col-md-12">
            </div>	
          </div>
      </div>
      </div>
    </div>
  </body>
  <style>
    .success{
        color: green;
    }
    
  </style>
</html>
